<h1 class="section-title">Connect applications</h1>

<h2>Fitness</h2>
<br>
<div class="flex-row">
  <div class="application-card flex-item">
    <div>
      <h3 class="application-title">Fitbit</h3>
      <p>Fitbit is a small device to track your physical activity or sleep.  You can wear the device all day because it easily clips in your pocket, pants, shirt, bra, or to your wrist when you are sleeping</p>
    </div>
    <button type="button" class="btn btn-success pull-right">Connect</button>
  </div>
  <div class="application-card flex-item">
    <div>
      <h3 class="application-title">Digifit</h3>
      <p>The Digifit ecosystem is a full suite of Apple apps that records heart rate, pace, speed, cadence, and power of your running, cycling and other athletic endeavors.</p>
    </div>
    <button type="button" class="btn btn-success pull-right">Connect</button>
  </div>
</div>

<br>
<br>
<h2>Sleep</h2>
<br>
<div class="flex-row">
  <div class="application-card flex-item">
    <div>
      <h3 class="application-title">Wakemate</h3>
      <p>Wakemate is a sleep system that records the user's sleep state to a mobile device and wakes the user during the lightest sleep phase within twenty minutes of the alarm.</p>
    </div>
    <button type="button" class="btn btn-success pull-right">Connect</button>
  </div>
  <div class="application-card flex-item">
    <div>
      <h3 class="application-title">BodyMedia</h3>
      <p>BodyMedia a system that give you highly accurate information on activity, calories, and sleep pattern. </p>
    </div>
    <button type="button" class="btn btn-success pull-right">Connect</button>
  </div>
</div>


<br>
<br>
<h2>Productivity</h2>
<br>
<div class="flex-row">
  <div class="application-card flex-item">
    <div>
      <h3 class="application-title">RescueTime</h3>
      <p>RescueTime is an web-based automated time tracking and management tool. All you need to do is install the RescueTime software and you can track your use of time usage</p>
    </div>
    <button type="button" class="btn btn-success pull-right">Connect</button>
  </div>
  <div class="application-card flex-item">
    <div>
      <h3 class="application-title">42Goals</h3>
      <p>42Goals is a flexible goal tracking web app which allows users to track, chart, annotate and evaluate many different goals in one place. </p>
    </div>
    <button type="button" class="btn btn-success pull-right">Connect</button>
  </div>
</div>
