<h1 class="section-title">Connect applications</h1>

<h2>Fitness</h2>
<br>
<div class="flex-row">
  <div class="application-card flex-item">
    <div>
      <img src="/app/images/applications/fitbit.png" class="application-image" alt="Fitbit" />
      <h3 class="application-title">Fitbit</h3>
      <p>Fitbit is a small device to track your physical activity or sleep.  You can wear the device all day because it easily clips in your pocket, pants, shirt, bra, or to your wrist when you are sleeping</p>
    </div>
    <button
      type="button"
      class="btn"
      data-ng-init="fitbitActive=false"
      data-ng-click="fitbitActive=!fitbitActive"
      data-ng-class="{'btn-success': fitbitActive, 'btn-default': !fitbitActive}"
      ng-bind="fitbitActive ? 'Connected' : 'Connect'"
    >
    </button>
  </div>
  <div class="application-card flex-item">
    <div>
      <img src="/app/images/applications/digifit.png" alt="Digifit" class="application-image" />
      <h3 class="application-title">Digifit</h3>
      <p>The Digifit ecosystem is a full suite of Apple apps that records heart rate, pace, speed, cadence, and power of your running, cycling and other athletic endeavors.</p>
    </div>
    <button
      type="button"
      class="btn btn-default"
      data-ng-init="DigifitActive=false"
      data-ng-click="DigifitActive=!DigifitActive"
      data-ng-class="{'btn-success': DigifitActive, 'btn-default': !DigifitActive}"
      ng-bind="DigifitActive ? 'Connected' : 'Connect'"
    >
    </button>
  </div>
</div>

<br>
<br>
<h2>Sleep</h2>
<br>
<div class="flex-row">
  <div class="application-card flex-item">
    <div>
      <img src="/app/images/applications/wakemate.png" alt="Wakemate" class="application-image" />
      <h3 class="application-title">Wakemate</h3>
      <p>Wakemate is a sleep system that records the user's sleep state to a mobile device and wakes the user during the lightest sleep phase within twenty minutes of the alarm.</p>
    </div>
    <button type="button" class="btn btn-default">Connect</button>
  </div>
  <div class="application-card flex-item">
    <div>
      <img src="/app/images/applications/bodymedia.png" alt="Bodymedia" class="application-image" />
      <h3 class="application-title">BodyMedia</h3>
      <p>BodyMedia a system that give you highly accurate information on activity, calories, and sleep pattern. </p>
    </div>
    <button type="button" class="btn btn-default">Connect</button>
  </div>
</div>


<br>
<br>
<h2>Productivity</h2>
<br>
<div class="flex-row">
  <div class="application-card flex-item">
    <div>
      <img src="/app/images/applications/rescuetime.png" alt="RescueTime" class="application-image" />
      <h3 class="application-title">RescueTime</h3>
      <p>RescueTime is an web-based automated time tracking and management tool. All you need to do is install the RescueTime software and you can track your use of time usage</p>
    </div>
    <button
      type="button"
      class="btn btn-default"
      data-ng-init="rescueTimeActive=false"
      data-ng-click="rescueTimeActive=!rescueTimeActive"
      data-ng-class="{'btn-success': rescueTimeActive, 'btn-default': !rescueTimeActive}"
      ng-bind="rescueTimeActive ? 'Connected' : 'Connect'"
    >
    </button>
  </div>
  <div class="application-card flex-item">
    <div>
      <img src="/app/images/applications/42goals.png" alt="42 Goals" class="application-image" />
      <h3 class="application-title">42Goals</h3>
      <p>42Goals is a flexible goal tracking web app which allows users to track, chart, annotate and evaluate many different goals in one place. </p>
    </div>
    <button type="button" class="btn btn-default">Connect</button>
  </div>
</div>
