<div class="dashboard">
  <sidebar>
    <h1 class="logo">log ü</h1>
    <ul class="sidebar-list">
      <li class="sidebar-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="sidebar-item">
        <a href="#">Sleep</a>
      </li>
      <li class="sidebar-item">
        <a href="#">Productivity</a>
      </li>
      <li class="sidebar-item">
        <a href="#">Phisical activity</a>
      </li>
    </ul>
  </sidebar>
  <div class="content">
    <div class="head">
      <div class="avatar">
        <span class="avatar-name">Nicolas Oga</span>
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" alt="" class="avatar-image">
      </div>
    </div>
  </div>
</div>
