<header class="hero">
  <div class="authentication">
    <a href="#/login" class="btn btn-default">Log in</a>
    <a href="#" class="btn btn-default">Register</a>
  </div>
  <div class="logo">log ü</div>
  <h1>Improve yourself via self-tracking</h1>
</header>
<div class="landing">
  <h2>How it works</h2>
  <ul class="steps">
    <li>
      <span class="step">1</span>
      <img src="app/images/step1.png" alt="" />
      <span class="text">Integrate your tracking devices to log ü.</span>
    </li>
    <li>
      <span class="step">2</span>
      <div class="step2-photo"></div>
      <span class="text">Generate data of your daily life.</span>
    </li>
    <li>
      <span class="step">3</span>
      <span class="text"> See recommendations to improve yourself.</span>
    </li>
  </ul>
</div>
