<header class="hero">
  <div class="authentication">
    <a href="#/login" class="btn btn-default">Log in</a>
    <a href="#" class="btn btn-default">Register</a>
  </div>
  <img src="app/images/logo.svg" alt="" class="logo">
  <h1 class="logo-text">log.u</h1>
  <h2>Improve yourself via self-tracking</h2>
  <img src="app/images/landing-screenshot.png" class="landing-screenshot" alt="" />
</header>
<div class="landing">
  <h2>How it works</h2>
  <ul class="steps">
    <li>

      <img src="app/images/step1.png" alt="" />
      <span class="step">1</span>
      <span class="text">Integrate your tracking devices.</span>
    </li>
    <li>
      <div class="step2-photo"></div>
      <span class="step">2</span>
      <span class="text">Generate data of your daily life.</span>
    </li>
    <li>
      <span class="step">3</span>
      <span class="text"> See recommendations to improve yourself.</span>
    </li>
  </ul>
</div>
