<header class="hero">
  <img src="app/images/logo.svg" alt="" class="logo-image">
  <h1 class="logo-text">log.u</h1>
  <h2>
    Get meaningful insights on your daily life.
  </h2>
  <p class="hero-description">
    Integrate all your tracking applications in one dashboard to
    get a holistic understanding of your lifestyle.
  </p>
  <a href="#/login" class="hero-cta">Get started</a>
  <img src="app/images/landing-screenshot.png" class="landing-screenshot" alt="" />
  <div class="hero-integrations">
    <div class="fitbit"></div>
    <div class="rescuetime"></div>
    <div class="nike"></div>
    <div class="googlefit"></div>
  </div>
</header>
