<div class="login">
  <form ng-submit="login()">
    <div class="form-group">
      <img src="app/images/logo.svg" class="logo-image" alt="" />
      <label for="username">Name</label>
      <input class="form-control"
      type="text"
      id="username"
      ng-model="user.name"
      placeholder="Name">
      <label for="password">Password</label>
      <input class="form-control"
      type="password"
      id="password"
      ng-model="user.password"
      placeholder="Password">
      <button type="submit" class="btn btn-default btn-lg btn-block">Log in</button>
    </div>
  </form>
</div>
