<div class="login">
  <a ui-sref="home" class="close-login">&times;</a>
  <form ng-submit="login()" class="animated fadeIn">
    <div class="form-group">
      <img src="app/images/logo.svg" class="logo-image" alt="" />
      <input class="form-control"
        type="text"
        id="username"
        ng-model="user.name"
        placeholder="&#61447; User">
      <input class="form-control"
        type="password"
        id="password"
        ng-model="user.password"
        placeholder="&#xf084; Password">
      <button type="submit" class="btn btn-default btn-lg btn-block btn-primary">Log In</button>
      <button type="submit" class="btn btn-default btn-lg btn-block btn-primary">Sign Up</button>
    </div>
  </form>
</div>
