<h1 class="section-title">Sleep</h1>

<h2>Recommendations</h2>
<hr>
<div class="flex-row">
  <div class="recommendation-card flex-item">
    <i class="fa fa-futbol-o recommendation-card-icon green" aria-hidden="true"></i>
    <div class="recommendation-card-content">
      <p>You sleep more when you <strong>increase your phisical activity</strong>.</p>
    </div>
  </div>
  <div class="recommendation-card flex-item">
    <i class="fa fa-briefcase recommendation-card-icon red" aria-hidden="true"></i>
    <div class="recommendation-card-content">
      <p>You sleep less when you <strong>work more hours</strong>.</p>
    </div>
  </div>
</div>
