.hero{
  text-align: center;
  color: white;
  padding-top: 80px;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000000 , #53346D); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000000 , #53346D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hero .landing-screenshot{
  max-width: 720px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: -150px;
  left: 50%;
  margin-left: -360px;
  z-index: 1000;
}

.hero-description{
  font-size: 18px;
  max-width: 550px;
  margin: 0 auto;
  margin-top: 24px;
  color: rgba(255, 255, 255, 0.8);
}

.hero-cta{
  margin-top: 30px;
  display: inline-block;
  background-color: #ff5335;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 25px 30px;
  border-radius: 3px;
  box-shadow: 0 5px 4px rgba(0,0,0,0.1);
  cursor: pointer;
}

.hero-cta:hover,
.hero-cta:focus{
  color: white;
  text-decoration: none;
  background-color: #ff3c1a;
}

.hero .logo-image{
  width: 100px;
}

.hero .logo-text{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 50px;
  font-size: 48px;
}

.hero-integrations{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 400px;
  pointer-events: none;
}

.hero-integrations > div{
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 15px rgba(0,0,0,0.50);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}

.hero-integrations .fitbit{
  background-image: url('../images/integrations/fitbit.png');
  background-size: 70% 70%;
  top: 140px;
  left: 100px;
  width: 100px;
  height: 100px;
}

.hero-integrations .rescuetime{
  width: 80px;
  height: 80px;
  background-image: url('../images/integrations/rescuetime.png');
  background-size: 70% 70%;
  top: 70px;
  left: 250px;
  -webkit-animation-delay: 1s;
  animation-delay: -1s;
}

.hero-integrations .nike{
  width: 100px;
  height: 100px;
  background-image: url('../images/integrations/nike+.png');
  background-size: 70% 70%;
  top: 70px;
  right: 210px;
  -webkit-animation-delay: 1s;
  animation-delay: -1.5s;
}

.hero-integrations .googlefit{
  width: 70px;
  height: 70px;
  background-image: url('../images/integrations/googlefit.png');
  background-size: 70% 70%;
  top: 200px;
  right: 80px;
  -webkit-animation-delay: 1s;
  animation-delay: -0.75s;
}


@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}
}
