.hero{
  text-align: center;
  color: white;
  padding-top: 100px;
  overflow: hidden;
  position: relative;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000000 , #53346D); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000000 , #53346D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hero .landing-screenshot{
  max-width: 720px;
  margin-top: 20px;
  position: relative;
  top: 60px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.hero .authentication{
  position: absolute;
  top: 30px;
  right: 30px;
}

.hero .authentication .btn + .btn{
  margin-left: 10px;
}

.hero .logo{
  font-weight: bold;
}

.hero .logo-text{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 50px;
  font-size: 48px;
}

.landing{
  text-align: center;
  padding-top: 100px;
}

.landing ul{
  list-style-type: none;
  font-size: 24px;
}

.landing li{
  margin-bottom: 100px;
}

.landing ul .step{
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: black;
  color: white;
  font-size: 14px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 50px;
}

.landing ul img{
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.step2-photo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
  background-image: url('../images/step2.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
